<script lang="ts">
    export let absoluteCursorPosition: { x: number; y: number };
    export let backgroundImage: string;
    export let scale: number = 1;
    export let z: string = "0";
    export let br: string = "0px";
    export let layout: Boolean = false;

    const maxRotation = 15;

    let rotationX = Math.max(
        Math.min(
            maxRotation,
            Math.max(-maxRotation, absoluteCursorPosition.y / 20)
        ),
        -maxRotation
    );
    let rotationY = Math.max(
        Math.min(
            maxRotation,
            Math.max(-maxRotation, absoluteCursorPosition.x / -20)
        ),
        -maxRotation
    );

    let card: HTMLElement;
    let cardPosition: { x: number; y: number } = { x: 0, y: 0 };
    let cursorPosition: { x: number; y: number } = { x: 0, y: 0 };
    let cardSize = {
        width: 0,
        height: 0,
    };

    $: {
        if (card) {
            const { left, top } = card.getBoundingClientRect();
            cardPosition = {
                x: left,
                y: top,
            };

            cursorPosition = {
                x: absoluteCursorPosition.x - cardPosition.x,
                y: absoluteCursorPosition.y - cardPosition.y,
            };

            rotationX = Math.max(
                -maxRotation,
                Math.min(
                    maxRotation,
                    (cursorPosition.y - cardSize.height / 2) / 20
                )
            );
            rotationY = Math.max(
                -maxRotation,
                Math.min(
                    maxRotation,
                    (cursorPosition.x - cardSize.width / 2) / -20
                )
            );
        }
    }
</script>

<main
    class="card"
    bind:this={card}
    style:transform-style="preserve-3d"
    style:transform="rotateX({-rotationX}deg) rotateY({-rotationY}deg) scale({scale})
    translateZ({z})"
    bind:clientWidth={cardSize.width}
    bind:clientHeight={cardSize.height}
    style:background-image={backgroundImage}
    style:border-radius={br}
    style={layout ? "image-rendering: crisp-edges;" : ""}
>
    <div
        style:position="absolute"
        style:top="0"
        style:right="0"
        style:width="100%"
        style:height="100%"
        style:border-radius={br}
        style:background="radial-gradient(circle at {cursorPosition.x}px {cursorPosition.y}px,
        #fff1, #0000 80%)"
    ></div>
    <!-- Fake 3d parallax -->
</main>

<style>
    .card {
        position: absolute;
        background-image: url(/a08_MangoDevourer/layout.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        /* transform: translate(-50%, -50%); */
        height: 100%;
        aspect-ratio: 1594 / 1714;
        /* background: linear-gradient(to bottom right, #1a4205, #000c08); */
    }
</style>
