<script lang="ts">
    import Card from "./lib/Card.svelte";

    let cursorPosition: { x: number; y: number } = { x: 0, y: 0 };
    let windowSize: { width: number; height: number } = { width: 0, height: 0 };
    let isInactive = false;
    let inactivityTimeout: number;

    const handleInactivity = () => {
        isInactive = false;
        if (inactivityTimeout) {
            clearTimeout(inactivityTimeout);
        }
        inactivityTimeout = setTimeout(() => {
            isInactive = true;
        }, 2 * 1000);
    };

    let hasMouseSupport = false;

    function checkMouseSupport() {
        hasMouseSupport = window.matchMedia("(pointer:fine)").matches;
    }

    checkMouseSupport();

    window.addEventListener("resize", () => {
        windowSize = { width: window.innerWidth, height: window.innerHeight };
        handleInactivity();
    });

    const handleMouseMove = (event: MouseEvent) => {
        cursorPosition = { x: event.clientX, y: event.clientY };
        handleInactivity();
    };

    let images = [
        "/a08_MangoDevourer/0.png",
        "/a08_MangoDevourer/inactivity.png",
    ];
    let preloadImages = images.map((image) => {
        const img = new Image();
        img.src = image;
        return img;
    });
</script>

<main
    class="landing"
    on:mousemove={handleMouseMove}
    style:background="radial-gradient(circle at {cursorPosition.x}px {cursorPosition.y}px,
    rgba(85, 142, 61, 0.2), rgba(85, 142, 61, 0)), linear-gradient(to bottom
    right, #41a93d, rgb(25, 72, 61))"
    on:scroll={() => {}}
>
    <div class="landing-container">
        <img src="/enokai.svg" class="title" alt="Enokai" />
        <div class="cards">
            <Card
                absoluteCursorPosition={cursorPosition}
                backgroundImage="url(/a08_MangoDevourer/layout.png)"
                scale={1}
                z={"0"}
                layout
            />
            <Card
                absoluteCursorPosition={cursorPosition}
                backgroundImage={`url(${
                    preloadImages[isInactive ? 1 : 0].src
                })`}
                scale={1.08}
                br={".25rem"}
                z={"30px"}
            />
            <div class="credits">
                Art by
                <a class="wavecipher" href="https://www.wavecipher.com">
                    Wavecipher
                </a>
            </div>
        </div>
    </div>
</main>

<style>
    .title {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 45%;
        font-size: 5rem;
        color: white;
        transform: translate(0%, -50%);
        backdrop-filter: shadow(0 0 10px rgba(0, 0, 0, 0.5));
        user-select: none;
        pointer-events: none;
    }

    .landing {
        width: 100vw;
        height: 100vh;
        overflow: auto;
        min-height: 40rem;
        /* background: linear-gradient(to bottom right, #1a4205, #000c08); */
    }

    .landing-container {
        width: 100%;
        height: 100%;
        max-width: 1440px;
        margin: 0 auto;
        position: relative;
    }

    .cards {
        position: absolute;
        top: 50%;
        right: 10%;
        aspect-ratio: 1594 / 1714;
        height: min(30rem, max(10rem, 85vw));
        transform: translate(0%, -50%);
    }

    @media (max-width: 60rem) {
        .title {
            font-size: 3rem;
            top: 4%;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        .cards {
            top: 20%;
            right: 50%;
            transform: translate(50%, 0%);
        }
    }

    .credits {
        top: 3rem;
        height: 100%;
        position: absolute;
        aspect-ratio: 1594 / 1714;
        display: flex;
        align-items: end;
    }

    .wavecipher {
        text-decoration: none;
        color: white;
        font-size: 1rem;
        font-family: "Silkscreen", sans-serif;
        padding: 0 0.3rem;
    }
</style>
