html,
body {
    padding: 0;
    margin: 0;
    color-scheme: light dark;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    font-family: "Raleway", sans-serif;
}

@font-face {
    font-family: "Raleway";
    src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Raleway";
    font-style: italic;
    src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Silkscreen";
    src: url("/fonts/Silkscreen-Regular.ttf");
}

@font-face {
    font-family: "Silkscreen";
    font-weight: bold;
    src: url("/fonts/Silkscreen-Bold.ttf");
}
